/* @import "~antd/dist/antd.css"; */

.card-columns {
  display: inline-block;
  -webkit-column-break-inside: avoid;
  column-count: 2;
}

.main-text {
  visibility: hidden;
  height: 0px;
  width: 0px;
}
.sub {
  display: none;
}
@media (min-width: 600px) {
  .main {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    color: blueviolet;
    opacity: 0.8;
    cursor: pointer;
  }
  .sub {
    position: fixed;
    display: block;
    width: 100%;
    margin: 12% 1.5vw;
    padding: auto auto;
  }
}
